.section {
  width: 100%;
  height: max-content;
  margin-bottom: 5em;
}

.container {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
}

.wrapper {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.image {
  flex-basis: 50%;
  min-width: 320px;
  border-radius: 0;
  height: 25.8em;
}

.image img {
  width: 100%;
  height: inherit;
}

.aside {
  flex-basis: 50%;
  height: 25.8em;
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: inherit;
}

.textWrapper {
  flex-basis: 80%;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-shrink: inherit;
}

.textWrapper h2,
h4 {
  text-transform: uppercase;
}

.textWrapper h4 {
  opacity: 0.4;
}

.text figure {
  font-weight: lighter;
  line-height: 2;
}
